<form action="post_complete" method="POST">
  <div class="form-item">
    <input name="title" class="form-item__text-input" placeholder="タイトル">
  </div>
  <div class="form-item">
    <textarea name="memo_text" class="form-item__textarea" placeholder="内容"></textarea>
  </div>
  <div class="memo_buttons">
    <input type="submit" value="送信する" class="button">
  </div>
</form>