<h1>メモを追加する</h1>

<form action="post_complete" method="POST">
  <div class="form-item">
    <label class="form-item__label">タイトル</label>
    <input name="title" class="form-item__text-input" value="タイトル">
  </div>
  <div class="form-item">
    <label class="form-item__label">内容</label>
    <textarea name="memo_text" class="form-item__textarea"></textarea>
  </div>
  <div class="form-item">
    <input type="submit" value="送信する">
  </div>
</form>