<p class="memo_title"><%= @hash['title'] %></p>
<p class="memo_text"><%= text_replased_br(@hash['text']) %></p>
<div class="memo_buttons">
  <form action="/memo/<%= @hash["memo_uuid"]%>/edit" method="GET">
    <input type="submit" value="編集する" class="button">
  </form>

  <form action="/memo/<%= @hash["memo_uuid"]%>/delete_complete" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="削除する" class="button">
  </form>
</div>