<% require 'securerandom' %>
<% require 'json' %>

<% hash = {
  memo_uuid: "#{SecureRandom.uuid}",
  title: "#{@title}",
  text: "#{@memo_text}"
  }
hash[:title] = "タイトルなし" if hash[:title].empty? 
File.open("data/#{hash[:memo_uuid]}.json","w") {|file| 
  file.puts(JSON.generate(hash))
} %>

<h1>メモを追加する</h1>
<p>追加しました</p>
<p><a href = "/" >戻る</a></p>

