/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 全てに box-sizing: border-box; を適用 */
*, *:before, *:after {
  box-sizing: border-box;
}

/* 画像に関する初期設定 */
img {
  /* 大きい画像がはみ出さないように */
  max-width: 100%;
  /* 画像周りの無駄なスペースができないように */
  vertical-align: bottom;
}

/*
////////////////////////////////////////
以下オリジナルCSS
////////////////////////////////////////
*/

html {
  font-family: arial, sans-serif;
  font-size: 16px;
  background-color: #cfe0db;
}

.container {
  width: auto;
  height: 100vh;

  scrollbar-color: #a5cec1 #cfe0db;
}

.body {
  height: 90%;
  top: 6vh;
  background: url(img/background.jpg) no-repeat center;
  background-size: contain;
}

.contents {
  position: relative;
  width: 70vh;
  top: 6vh;
  margin-right: auto;
  margin-left : auto;
}

.memo_display {
  width: 37vh;
  height: 72vh;
  margin : 0 auto;
  overflow-y: scroll;
}

.menu {
  width: 37vh;
  height: 4vh;
  margin-right: auto;
  margin-left : auto;
  margin-top: 1vh;

  text-align: right;
} 

.desk_img {
  position: absolute;
  margin : 0 auto;
  top: 69vh;
  left: 7vh;
  width: 55vh;
  /* 画像のクリックを投下させて、後ろのリンクをクリックできるようにする */
  pointer-events: none; 
}

.memo_item a {
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: #596463;
}

.memo_item a:active {
  color: #819c8b;
}

.memo_item memo_text {
  font-size: 0.9rem;
}

.memo_buttons {
  width: 34vh;
  display: inline-flex;
  justify-content: flex-end;
}

.button {
  font-size: 0.8rem;
  text-align: center;
  box-sizing: border-box;
  margin-left: 1vh;
  font-weight: Light;
  border-radius: 4px;
  border: 2px solid rgba(74, 100, 96, 0.3);
}

.button:hover {
  opacity: 0.8;
}

.memo_item:nth-of-type(n+2) {
  margin-top: 2vh;
}

hr {
  border-top:1px;
  border-color: rgb(201, 211, 208);
}

.memo_title {
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: #596463;
  margin-top: 1vh;
}

.memo_text {
  margin-top: 1vh;
  font-size: 0.9rem;
}

.foot_menu {
  font-size: 0.8rem;
  color: #596463;
}

.form-item__text-input {
  background-color:transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #b6ccca;
  border-radius: 1px;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: #596463;
  width: 34vh;
  margin-top: 1vh;
  
}

.form-item__text-input:focus {
  outline: none;
  border: 1px solid #596463;
}

.form-item__textarea {
  background-color:transparent;
  border: 1px solid #b6ccca;
  resize: none;
  width: 34vh;
  height: 58vh;
  margin-top: 2vh;
}

.form-item__textarea:focus {
  outline: none;
  border: 1px solid #596463;
}
