/*
////////////////////////////////////////
reset.css を読み込んで全てのスタイルをなくす
////////////////////////////////////////
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
////////////////////////////////////////
reset.css では足りない初期化を追加
////////////////////////////////////////
*/

/* 全てに box-sizing: border-box; を適用 */
*, *:before, *:after {
  box-sizing: border-box;
}

/* 画像に関する初期設定 */
img {
  /* 大きい画像がはみ出さないように */
  max-width: 100%;
  /* 画像周りの無駄なスペースができないように */
  vertical-align: bottom;
}

/*
////////////////////////////////////////
初期設定
////////////////////////////////////////
*/

html {
  font-family: arial, sans-serif;
  font-size: 16px;
  background-color: #cdd9d5;
}

.container {
  width: auto;
  height: 100vh;
}

.body {
  height: 90%;
  top: 6vh;
  background: url(img/background.jpg) no-repeat center;
  background-size: contain;
}

.contents {
  position: relative;
  width: 70vh;
  top: 6vh;
  margin-right: auto;
  margin-left : auto;
}

.memo_display {
  width: 37vh;
  height: 72vh;
  margin : 0 auto;
  overflow-y: scroll;
}


.menu {
  width: 37vh;
  height: 4vh;
  margin-right: auto;
  margin-left : auto;
  margin-top: 1vh;

  text-align: right;
} 

.desk_img {
  position: absolute;
  margin : 0 auto;
  top: 63vh;
  left: 7vh;
  width: 55vh;
  /* 画像のクリックを投下させて、後ろのリンクをクリックできるようにする */
  pointer-events: none; 
}